a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

f1,
f2,
f3,
f4,
f5,
f6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-box{
    display: flex;
    align-items: center;
    

}

.contacts{
    display: block;
    margin-left: auto;
    
}

.nav-list{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-list__item{
    margin-right: 50px;
}

.nav-list__item:last-child{
    margin-right: 0px;
}

.hero-title {
    text-align: center;
}

.btn-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 72px;
    height: 24px; */
    text-align: center;
   
}