

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    color: #512499;
    background-color: #fff;
}

.container {
    /* width: 1200px; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.icon{
    width: 22px;
    height: 22px;
    fill: #512499;
    margin-right: 6px;
}

.icon:hover,
.icon:focus{
    fill:#f043b6;
}



.logo-img{
    margin: 15px;
}

.header-box{
    display: flex;
    align-items: center;
}

.contacts{
    font-size: 18px;
    color: #512499;
    display: flex;
    align-items: center;
    
}

.contacts:hover,
.contacts:focus{
    color: #f043b6;
}
.contacts-box{
    margin-left: auto;
}

.nav-list{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-list__item{
    margin-right: 50px;
    font-size: 24px;
    color: #512499;
}

.nav-list__item:last-child{
    margin-right: 0px;
}

.nav-list-link{
    color: #512499;
    text-shadow:
            0 0 5px #6d2c5770,
            0 0 10px #6d2c5770,
            0 0 15px #6d2c5770,
            0 0 20px #6d2c5770;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 40px;
        padding-top: 200px;
}

.nav-list-link:hover,
.nav-list-link:focus{
    color: #f043b6;
}

.hero {
    
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.10407913165266103) 37%, rgba(238, 174, 195, 1) 98%), url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0,
                0,
                0,
                0.2);
}
.hero-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow:
                0 0 5px #6d2c5770,
                0 0 10px #6d2c5770,
                0 0 15px #6d2c5770,
                0 0 20px #6d2c5770;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 200px;
}

 .btn {
     font-family: inherit;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.87;
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
     color: #ffffff;
     background-color: #6d2c57;
     box-shadow: 0px 6px 6px rgba(0, 0, 0.15, 0.15);
     border-radius: 4px;
     cursor: pointer;
     border: transparent;
 }

.icon-hero {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-right: 10px;

}

 .btn-hero {   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
 }

 .btn:hover,
 .btn:focus{
    background-color: #f043b6;
 }

 .box-title {
     animation: moveRight 2s forwards 1 ease-out 0.5s;
 }

 .box-btn {
    animation: moveDown 2s forwards 1 ease-out 0.5s;
 }

 @keyframes moveRight {
    0% {
            transform: translatex(-50%);
        }
    
        100% {
            transform: translatex(0);
        }
 }

 @keyframes moveDown {
    0% {
        transform: translateY(100px);
    }
         100% {
             transform: translateY(0);
         }
 }

 .services {
    padding:60px 0px 0px 0px;
 }
.pink{
    background-color: #f043b622;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0,
                0,
                0,
                0.2);
}
 .section-title {
    font-family: inherit;
    font-size: 28px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    margin-bottom: 40px;
 }

.serv-bgr{
    
    padding: 40px 25px;
}



 .serv-card{
    display: flex;
    align-items: center;
 }
 
 .reverse{
    flex-direction: row-reverse;
 }
 .serv-img{
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0,
        0,
        0,
        0.2);
 }

 .card-title{
    font-family: inherit;
    font-size: 24px;
    margin-bottom: 16px;
 }

 .card-info{
    padding: 24px;
 }

 .benefits-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
 }

 .benefits-item{
    flex-basis: calc((100% - 60px) / 3);
    height: 100%;
    margin-right: 30px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 0px 4px;
 }

 .benefits-item:last-child{
    margin-right: 0px;
 }

 .benefits-img{
    display: block;
    max-width: 100%;
    height: auto;

 }

 .benefits{
    padding-top: 60px;
 }

 .benefits-subtitle{
     
     margin-top: 0;
     margin-bottom: 10px;
 }

 .benefits-text {
    padding: 30px;
    
    text-align: center;
 } 

 .price{
    padding-top: 60px;
 }
.price-img{
    width: auto;
    height: 600px;
    margin-right: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0,
            0,
            0,
            0.2);
}
.price-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 60px;
}
.btn-price{
    width: 300px;
}
.feedback{
    padding-top: 40px;
}

.feedback-text{
    margin-bottom: 50px;
}
.feedback-img{
    width: auto;
    height: 600px;
}
.btn-profil{
    margin-bottom: 20px;
}
.footer-adress{
    display: block;
}

.footer{
    padding: 30px 0px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.10407913165266103) 37%, rgba(238, 174, 195, 1) 98%);
}

.footer-box{
    display: flex;
    align-items: center;
}
.footer-btn{
    display: flex;
    margin-left: auto;
}
.footer-icon{
    fill: #512499;
    margin-left: 50px;
}

.footer-icon:hover,
.footer-icon:focus{
    fill: #f043b6;
}